<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= siteTitle %></title>
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico?v=<%= site.utils.now %>">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">
<link rel="alternate" type="application/atom+xml" title="<%= siteTitle %> - Atom Feed" href="<%= themeConfig.domain %>/atom.xml">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700">

<% if (site.customConfig.ga) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= site.customConfig.ga %>');
</script>
<% } %>

<style>
    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-display: swap;
        font-weight: 700;
        src: url('https://github.com/Seaony/seaony.github.io/tree/master/fonts/CascadiaCode/CascadiaCode-Bold.otf') format('truetype');
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-display: swap;
        font-weight: 500;
        src: url('https://github.com/Seaony/seaony.github.io/tree/master/fonts/CascadiaCode/CascadiaCode-SemiBold.otf') format('truetype');
    }

    @font-face {
        font-family: 'Cascadia Code';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url('https://github.com/Seaony/seaony.github.io/tree/master/fonts/CascadiaCode/CascadiaCode-Regular.otf') format('truetype');
    }

    code, pre {
        font-family: Cascadia Code !important;
    }

    .post-feature-image {
        border-radius: 20px !important;
    }

    .post-detail .post .post-content h2 {
        margin-bottom: 3rem;
    }

    .post-detail .post .post-content p code, .post-detail .post .post-content li code {
        color: #42b883;
    }

    code, kbd, samp, pre {
        font-size: .9em;
    }

    .post-detail .post .post-content a {
        color: #42b883;
        font-family: Cascadia Code;
    }
</style>
